body{
    color: white;
    background: black;
    margin:0px;
    font-family: "Roboto Mono", monospace;
}
header{
    border-bottom: solid 1px rgb(101, 162, 219);
    padding: 10px;
    font-size: 32px;
    color: rgb(101, 162, 219);
}
.chamada{
    background: rgb(83 5 157);
    padding-bottom: 35px;
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.chamada_texto{
    margin-right:5% ;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}